<app-dashboard></app-dashboard>

<nav class="bg-zinc-50 dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3">
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse ps-60">
      <button (click)="openAddUserDialog()" type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Add Devices</button>
    </div>
  </div>
</nav>

<div class="max-w-2xl mx-auto px-4 py-8 sm:px-6 lg:px-8">
  <h2 class="flex justify-center mb-4 text-xl font-bold text-gray-900 dark:text-white">Add a new Device</h2>

  <div class="h-96 overflow-y-auto">
    <form (ngSubmit)="addDevice()">
      <div class="flex space-x-4">
        <mat-form-field appearance="fill" class="flex-1">
          <mat-label>Device ID</mat-label>
          <input matInput [(ngModel)]="deviceId" name="deviceId" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="flex-1">
          <mat-label>Type of device</mat-label>
          <mat-select [(ngModel)]="selectedDeviceType" name="deviceType" required>
            <mat-option *ngFor="let device of devices" [value]="device.viewValue">
              {{ device.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <span class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type of connectivity</span>
      <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
          <div class="flex items-center pl-3">
            <input id="horizontal-list-radio-bluetooth" type="radio" value="Bluetooth" name="connectivity" [(ngModel)]="selectedConnectivity" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="horizontal-list-radio-bluetooth" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Bluetooth</label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
          <div class="flex items-center pl-3">
            <input id="horizontal-list-radio-wifi" type="radio" value="Wi-Fi" name="connectivity" [(ngModel)]="selectedConnectivity" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="horizontal-list-radio-wifi" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Wi-Fi</label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 sm:border-b-0 dark:border-gray-600">
          <div class="flex items-center pl-3">
            <input id="horizontal-list-radio-lora" type="radio" value="LoRa" name="connectivity" [(ngModel)]="selectedConnectivity" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="horizontal-list-radio-lora" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">LoRa</label>
          </div>
        </li>
      </ul>

      <div class="flex space-x-10 max-w-md">
        <mat-form-field *ngIf="selectedConnectivity === 'Bluetooth'" appearance="fill" class="my-4 flex-1">
          <mat-label>Mac Address</mat-label>
          <input matInput [(ngModel)]="macAddress" name="macAddress">
        </mat-form-field>
      </div>

      <div class="flex space-x-10 max-w-md">
        <mat-form-field *ngIf="selectedConnectivity === 'Wi-Fi'" appearance="fill" class="my-4 flex-1">
          <mat-label>IP Address</mat-label>
          <input matInput [(ngModel)]="ipAddress" name="ipAddress">
        </mat-form-field>
      </div>

      <div class="flex space-x-10 max-w-md">
        <mat-form-field *ngIf="selectedConnectivity === 'LoRa'" appearance="fill" class="my-4 flex-1">
          <mat-label>LoRa Address</mat-label>
          <input matInput [(ngModel)]="loraAddress" name="loraAddress">
        </mat-form-field>
      </div>

      <div class="mt-11 flex">
        <mat-slide-toggle>Connect!</mat-slide-toggle>
      </div>

      <div class="justify-center flex">
        <button type="submit" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Add Device</button>
      </div>
    </form>

    <!-- Afficher les appareils ajoutés en tant que cartes -->
    <div *ngFor="let device of addedDevices" class="p-4 mb-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
      <h3 class="text-lg font-bold text-gray-900 dark:text-white">Device ID: {{ device.id }}</h3>
      <p>Type: {{ device.type }}</p>
      <p>Connectivity: {{ device.connectivity }}</p>
      <p *ngIf="device.macAddress">MAC Address: {{ device.macAddress }}</p>
      <p *ngIf="device.ipAddress">IP Address: {{ device.ipAddress }}</p>
      <p *ngIf="device.loraAddress">LoRa Address: {{ device.loraAddress }}</p>
    </div>
  </div>
</div>
