<app-dashboard></app-dashboard>

<nav class="border-gray-200 dark:bg-gray-900 mx-4 my-2"></nav>
<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 shadow-md rounded-lg dark:border-gray-700 flex items-center justify-between">
    <button class="sm:ml-10 bg-gradient-to-r from-blue-500 via-sky-500 to-cyan-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" 
            (click)="openAddUserDialog()">
      Create New Device
    </button>
  </div>

  <!-- Afficher les cartes des appareils -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-6">
    <div *ngFor="let device of addedDevices" class="bg-white p-4 rounded-lg shadow-md dark:bg-gray-800 flex flex-col">
      <h3 class="text-lg font-bold mb-2">{{ device.type }}</h3>
      <p><strong>ID:</strong> {{ device.id }}</p>
      <p><strong>Connectivity:</strong> {{ device.connectivity }}</p>
      <p *ngIf="device.macAddress"><strong>Mac Address:</strong> {{ device.macAddress }}</p>
      <p *ngIf="device.ipAddress"><strong>IP Address:</strong> {{ device.ipAddress }}</p>
      <p *ngIf="device.loraAddress"><strong>LoRa Address:</strong> {{ device.loraAddress }}</p>
      <div class="svg-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M4 7l16 0" />
          <path d="M10 11l0 6" />
          <path d="M14 11l0 6" />
          <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
          <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rotate" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M19.95 11a8 8 0 1 0 -.5 4m.5 5v-5h-5" />
        </svg>
        <a (click)="openSettingDialog()">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#3C71F4" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
